<div class="info-content">

	<p class="p1"><span>修改头像</span>
	<a href=""><img src="img/info.img1.png" alt=""></a></p>
	<p class="p1"> <span>用户昵称</span>
	    <input type="text" name="">
	</p>
	<p class="p2"><span>性别</span>
	<label><input type="radio" name="radioname" value=""> 男</label>
	<label><input type="radio" name="radioname" value=""> 女</label>
	</p>
	<div class="div1 clear">
		<p class="p3">关注圈子</p>
		<div class="checkbox">
		<label><input type="checkbox" name="" value="" checked="checked">微电影</label>
		<label><input type="checkbox" name="" value="">电影</label>
		<label><input type="checkbox" name="" value="">电视剧</label>
		<label><input type="checkbox" name="" value="">戏曲</label>
		<label><input type="checkbox" name="" value="">相声</label>
		<label><input type="checkbox" name="" value="">话剧</label>
		<label><input type="checkbox" name="" value="">书画</label>
		<label><input type="checkbox" name="" value="">戏剧</label>
		<label><input type="checkbox" name="" value="" checked="checked">音乐剧</label>
		<label><input type="checkbox" name="" value="">歌剧</label>
		</div>
	</div>
	<a href="" class="btn btn-default">保存</a>

</div>