
<form name="myForm">

		<p class="p1">
		  <span class="span1">邮箱地址</span>
		  <input type="text">
		</p>

		
		<div class="p4"><span class="span1">验证码</span>
		<input type="text" placeholder="输入验证码" name="password"
		ng-model="password" ng-minlength="4">
		<a href="" class="btn btn-default">免费获取验证码</a>
		<div class="mydiv clear">
			<p class="error" ng-show="myForm.password.$error.minlength">验证码错误，请重新输入！</p>
		</div>
		</div>
		<p class="p5"><a href="" class="btn btn-default">保存</a></p>

	</form>
