<div class="support-content">
    <!-- 头部 -->
	<div class="header clear">
		<h4>犹太人在上海音乐剧</h4>
		<div class="head-right">
			<img src="img/support-img1.png" alt="">
		</div>
	</div>

    <!-- 中间 -->
	<div class="middle">
		<div class="middle-head">
		<span>支持金额：</span><span class="money">￥5.00</span>
		</div>
		<div class="middle-content">
			<ul class="clear">
				<li class="li1">支持回报：</li>
				<li class="li2">1.犹太人在上海手机壁纸一套（共7张）；2.每200人随机抽取1名幸运用户，不满200人也按200人抽取，获赠《犹太人在上海》演员签名海报一份+纪念画册一本；中奖名单将在话题区公布，奖品最终由项目方发送至得奖者手中（免配送费）。
				<p><span>预计回报发放时间</span>：项目成功结束后5天内</p>
				</li>
			</ul>
			<ul class="clear">
				<li class="li1">备注：</li>
				<li class="li2">
					<input type="text" placeholder="说点什么吧，可以给项目发起者一些小小的鼓励哦~">
				</li>
			</ul>
			<ul class="clear">
				<li class="li1">联系方式：</li>
				<li class="li2">
					<span class="btn btn-default">您的称呼</span>
					<span class="tel">136****8388</span>
					<span class="text">（手机号码用于接收回报奖品，客服将根据此手机号与您联系，请确认无误！）</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- 底部 -->
	<div class="bottom">
		<h5>风险说明</h5>
		<p>1、众筹成功后，如果出现项目方回报无法发放的情况，您需要直接和项目发起人协商解决退款事宜，平台没有帮您追讨资金的义务。 </p>
		<p>2、支持纯抽奖档位一旦您支付成功将不予退款，项目募集失败的除外；支持无私奉献档位，项目一旦募集成功将不予退款。 </p>
		<p>3、全民创造只提供平台服务，回报由项目发起人为您提供并负责发货，同时项目发起人有为您开具发票的法定义务。</p>
		<h5>特别说明</h5>
		<p>系统会自动对超出限额的订单进行全额退款，对您造成的不变，深表歉意！</p>
		<a ui-sref="pay" class="btn btn-default">确认支持</a>
	</div>
</div>